<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Chat with socket.io</title>
	<script src="assets/js/jquery.min.js"></script>
	<script>

	</script>
</head>
<body>

	<h1> Xin chao <%= username %></h1>


</body>
</html>