<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/assets/css/login.css">
	<title>Login</title>
	<script src="assets/js/jquery.min.js"></script>
	<script src="socket.io/socket.io.js"></script>
	<script>
		let socket = io("https://firstwebwithnode.herokuapp.com/");
		$(document).ready(()=>{
			socket.on("sai_mat_khau",()=>{
				alert("Sai mat khau");
			})
			$("#username").change(()=>{
				socket.emit("check_tai_khoan",$("#username").val());
			})
			socket.on("check_tai_khoan",()=>{
				alert("Tai khoan khong ton tai");
			})
			alert("Sai mat khau");
		})
		
	</script>
</head>
<body>
	<div class="login_form">

		<form action="/login" method="post" enctyp="application/x-www-form-urlencoded">
			<h1>Login form</h1>
			<input type="text" id="username" name="username" class="box" placeholder="User name" autofocus>
			<input type="password" id="password" name="password" class="box" placeholder="Password" >
			<input type="submit" class="box" id="btnSubmit">
		</form>
	</div>
</body>
</html>