<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>May bi ngu a</title>
</head>
<body>
	<h1>
		Mày bị ngu à đã bảo tài khoản không hợp lệ còn cố gắng submit
	</h1>
</body>
</html>