

body {
    margin: 2px;
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 0.15fr 1fr 0.15fr;
}
input{
	outline: none;
}
header {
    display: grid;
    grid-template-columns: 0.15fr 1fr 0.15fr;
    align-items: center;
    justify-items: center;
    grid-column: 1/4;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
    border-top: solid 2px grey;
    border-bottom: solid 2px grey;
    padding: 5px 0px;
}

aside {
    display: grid;
    grid-template-rows: 450px auto;
}

main {
    grid-column: 2/4;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    grid-column: 1/4;
}

#logo {
    width: 70px;
    height: ;
    margin: 0px -10px;
    border-radius: 10px;
}

ul li {
    display: inline;
    margin: 0px 10%;
}

#menu {
    width: 100%;
    display: flex;
    justify-content: center;
}


#result {
    border: 2px solid black;
    height: 950px;
    margin: 10px 10px;
}

#weather {
    display: grid;
    justify-content: center;
    grid-template-rows: 40px 100px 40px 70px 70px 70px;
    padding: 5px;
}

.text-weather {
    font-size: 35px;
    font-family: sans-serif;

}

#city-name {
    grid-row: 1/2;
}

#icon-weather {
    grid-row: 2/3;

}

#temp {
    grid-row: 3/4;
}

#windd {
    display: flex;
    align-items: center;
    height: 70px;
}

.sun {
    display: flex;
    align-items: center;
    height: 70px;
}

.icon_ww {
    width: 40px;
    height: 40px;
}

.text-ww {
    font-size: 35px;
    margin-left: 15px;
}

a {
    text-decoration: none;
}

#name_user {
    border: none;
    font-family: sans-serif;
    font-size: 20px;
    color: pink;
    cursor: pointer;
    width: auto;
}

#name_user:focus {
    outline: none;
}

#chat {
    cursor: pointer;
    color: red;
}
#chat-box {
    display: grid;
    grid-template-columns: 1fr 1fr 0.35fr 0.35fr;
    grid-template-rows: 50px auto auto;
    height: 900px;
}

#box-chat-show {
    border: 1px solid black;
    width: 97%;
    margin: 10px;
    height: 700px;
    grid-column: 1/4;
    padding: 15px;
    overflow: auto;
    grid-row: 2/3;
    border-radius: 10px;
}

#inp-chat {
    font-size: 25px;
    padding: 15px;
    margin: 10px;
    height: 30px;
    grid-row: 3/4;
    grid-column: 1/3;
    border-radius: 10px;
}

#send {
    font-size: 25px;
    padding: 15px;
    margin: 10px;
    width: 95%;
    height: 65px;
    grid-row: 3/4;
    grid-column: 3/4;
    border-radius: 10px;

}

#list {
    border: 1px solid black;
    margin: 10px;
    width: 90%;
    grid-column: 4/5;
    grid-row: 2/4;
        border-radius: 10px;

}

.text {
    font-size: 30px;
}

.user {
    font-family: serif;
    font-size: 20px;
    margin: 10px;
}

#online {
    font-family: sans-serif;
    font-size: 30px;
    border-radius: 10px;

}

#listroom {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    height: 300px;
    overflow: auto;
    padding: 15px;
}

.rooms {
    cursor: pointer;
    font-size: 35px;
    font-family: sans-serif;
    margin: 0px 5px;
    text-decoration: none;
}


.rooms:hover {
    text-decoration: underline;
}
#roomNow{
	font-size: 25px;
}
#box-room {
    border: 2px solid black;
    text-align: center;
    width: 250px;
    height: 25px;
    margin: 10px;
    padding: 5px;
    font-weight: bolder;
    border-radius: 10px;
}
#Room_name {
    height: 42px;
    width: 30%;
    font-size: 20px;
    border-radius: 10px;
}

.btnRoom{
	height: 46px;
}
#typing-img{
	width: 20px;
	height: 20px;
}
#typing{
	width: 250px;
}
#bordd{
    border: solid 1px black;
    border-radius: 20px;
        margin: 0px 5%;
        width: 90%;
}
#danhsachroom{
	padding: 20px;
	text-align: center;
	height: 50px;
	font-family: sans-serif;
	font-size: 25px;
}
#createroom, #joinroom{
	border-radius: 10px;
}

.dropdown{
    display: inline-block;
    position: relative;
}
.dropdown-chat{
    position: absolute;
    display: none;
    background: white;
    z-index: 1;
    border: 0.5px solid black;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0;
    left: auto;
    margin-top: 0px ;
}

.dropdown-content{
    position: absolute;
    display: none;
    width: 300px;
    background: white;
    z-index: 1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0;
    left: auto;
    margin-top: 0px ;
}
.dropdown:hover .dropdown-content{
    display: block;
    /*margin-top: 30px;*/

}
.dropdown:hover .dropdown-chat{
    display: block;
    /*margin-top: 30px;*/

}
#dropdown-search{
    display: inline-block;
    position: relative;
}
#dropdown-search:hover .search-box{
    display: block;
}
.search-box{
    display: none;
    position: absolute;
    margin-top: 0px;
}
#input-search{
    width: 250px;
    height: 35px;
    padding: 5px;
    font-size: 20px;
    border-radius: 10px;
}
@media screen and (min-width: 900px){
    #aboutRoom{
    display: flex;
    justify-content:center;
    }
}


#Room_name, #createroom, #joinroom{
    margin: 0px 15px;
}
@media screen and (max-width: 748px){
    body{
        width: 100%;
    }
    #info{
        visibility: hidden;
    }
    ul>li{
        font-size: 18px;
    }
    #result{
        width: 100%;
    }
    .btnRoom{
        margin: 20px 0px;
    }
    .before{
        margin: 5%;
    }
    #aboutRoom{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
    }
    #Room_name{
        width: 90%;
        height: 42px;
        grid-column: 1/3 ;
        font-size: 20px;
        margin-bottom: 5px;
        border-radius: 10px;
    }
    #createroom{
        margin: 10px 5px;
        grid-column: 1/2;
        grid-row: 2/3;
    }
    #joinroom{
        margin: 10px 5px;
        grid-column: 2/3;
        grid-row: 2/3;
    }
    #bordd{
        margin: 0px 5%;
        width: 90%;
    }
    #logo{
        width: 80%;
        height: 80%;
        margin: 15%;
    }
    #chat-box{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .text-weather, .text-ww {
        font-size: 20px;
    }

}