body{
	margin: 2px;
	display: grid;
	grid-template-rows: auto auto auto;
	grid-template-columns: 0.15fr 1fr 0.15fr;
}
header{
	display:grid;
	grid-template-columns: 0.15fr 1fr 0.15fr;
	align-items:  center;
	justify-items: center;
	grid-column: 1/4;
	font-family:  sans-serif;
	font-weight: bold;
	font-size: 20px;
	border-top: solid 2px grey;
	border-bottom: solid 2px grey;
	padding: 5px 0px;
}
aside{
	display:grid;
	grid-template-row: auto auto;
}
main{
	grid-column: 2/4;
}
footer{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100px;
	grid-column: 1/4;
}
#logo{
	width: 70px;
	height: ;
	margin:  0px -10px;
	border-radius: 10px;
}
ul li{
	display: inline;
	margin: 0px 30px;
}
#menu{
	width: 100%;
	display: flex;
	justify-content: center;
}
#result{
	border: 2px solid black;
	height: 850px;
}
#weather{
	display: grid;
	justify-content: center;
	grid-template-rows: 40px 100px 40px 70px 70px 70px;
	padding: 5px;
}
.text-weather{
	font-size: 35px;
	font-family: sans-serif;

}
#city-name{
	grid-row: 1/2;
}
#icon-weather{
	grid-row: 2/3;

}
#temp{
	grid-row: 3/4;
}
#windd{
	display: flex;
	align-items: center;
	height: 70px;
}
.sun{
	display: flex;
	align-items: center;
	height: 70px;
}
.icon_ww{
	width: 40px;
	height: 40px;
}
.text-ww{
	font-size: 35px;
	margin-left: 15px;
}
a {
	text-decoration: none;
}
#name_user{
	border: none;
	font-family: sans-serif;
	font-size: 20px;
	color: pink;
	cursor: pointer;
	width: auto;
}
#name_user:focus{
	outline: none;
}
#chat{
	cursor: pointer;
	color: red;
}

#chat-box{
	display: grid;
	grid-template-columns: 1fr 1fr 0.35fr 0.35fr;
	grid-template-rows: auto auto;
}
#box-chat-show{
	border: 1px solid black;
	width: 97%;
	margin: 10px;
	height: 700px;
	grid-column: 1/4;
	padding: 15px;
	overflow: auto;
}
#inp-chat{
	font-size: 25px;
	padding: 15px;
	margin: 10px;
	height: 30px;
	grid-row: 2/3;
	grid-column: 1/3;
}
#send{
	font-size: 25px;
	padding: 15px;
	margin: 10px;
	width: 95%;
	height: 65px;
	grid-row: 2/3;
	grid-column: 3/4;

}
#list{
	border: 1px solid black;
	margin: 10px;
	width: 90%;
	grid-column: 4/5;
	grid-row: 1/4;
}
.text{
	font-size: 30px;
}
.user{
	font-family: serif;
	font-size: 20px;
	margin: 10px;
}
#online{
	font-family: sans-serif;
	font-size: 30px;
}